<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >

    <title>teste</title>
  </head>
  <body>
    
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(let d of data) {%>
          <tr>
            <td><%= d.nome %></td>
            <td><%= d.email %></td>
            <td><a href="/edit/<%= d.id %>" class="btn btn-outline-warning">
              <i class="fa fa-edit"></i>
            </a></td>
            <td><button type="button" class="btn btn-outline-danger" 
              id="trash<%=d.id %>" data-id="<%= d.id %>">
              <i class="fa fa-trash"></i>
            </button></td>

          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
   <button-plus url="/cadastro" ></button-plus>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
    <script type="module" src="/static/js/main.js"></script>
    <script>
      const tbody=document.querySelector('tbody')
      const plus=document.getElementById('plus');
      const trash=document.querySelectorAll('[data-id]');
      const url='/trash';
      
      trash.forEach(b=>{

        b.addEventListener('click',()=>{

            let param={id:b.dataset.id};

            let response=fetch(url,{
              method:'POST',
              headers:{
                'Content-Type':'application/json;charset=utf-8'
              },
              body:JSON.stringify(param)
            }).then(res=>{
              return res.json();
            }).then(data=>{
              console.log(data);
              tbody.innerHTML='';
              data.forEach(d=>{
                let colunas=`<tr>
                  <td>${d.nome}</td>
                  <td>${d.email}</td>
                  <td><a href="/edit/${d.id}" class="btn btn-outline-warning">
                    <i class="fa fa-edit"></i>
                  </a></td>
                  <td><button type="button" class="btn btn-outline-danger" 
                    id="trash${d.id}" data-id="${d.id}">
                    <i class="fa fa-trash"></i>
                  </button></td>
                </tr>`;
                console.log(colunas);
                tbody.innerHTML +=colunas;
              })


            })

           


        })  
        


      })
     


      
    
      




    </script>
   
  </body>
  
</html>